pydantic==2.9.2
pydantic-core==2.23.4
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.0
annotated-types==0.7.0
typing-extensions==4.12.2
yfinance==0.2.32
textblob==0.17.1
requests==2.31.0







